<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidxdemo">
    <!--解决Access denied问题-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <!--nfc 权限-->
    <uses-permission android:name="android.permission.NFC" />

    <permission android:name="android.permission.MANAGE_DOCUMENT" />

    <!--请求相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Declare features -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2" />

    <!--指定应用使用nfc-->
    <uses-feature android:name="android.hardware.nfc"
        android:required="false"/>

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity android:name=".activity.main.UtilActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.image.ImageActivity" />
        <activity android:name=".activity.view.ViewActivity"/>
        <activity android:name=".activity.view.dot.DotViewActivity"/>
        <activity android:name=".activity.view.view_pager.VerticalPagerActivity" />
        <activity android:name=".activity.image.image_decode.ImageDecoderActivity"/>
        <activity android:name=".activity.receiver.net.NetWorkActivity" />
        <activity android:name=".activity.receiver.ReceiverActivity" />
        <activity android:name=".activity.image.fresco.FrescoActivity" />
        <activity android:name=".activity.view.color_filter.ColorFilterActivity" />
        <activity android:name=".activity.receiver.bug.BugReceiverActivity" />
        <activity android:name=".activity.view.chronometer.ChronometerActivity" />
        <activity android:name=".activity.view.voice.VoiceActivity" />
        <activity android:name=".activity.camera.CameraXActivity" />
        <activity android:name=".activity.camera.CameraActivity" />
        <activity android:name=".activity.view.view_pager.ViewPager2Activity" />
        <activity android:name=".activity.file.FileActivity" />
        <activity android:name=".activity.camera.DemoCameraXActivity" />
        <activity android:name=".activity.share.ShareActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".activity.share.NFCActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.share.SelectContactActivity"
            android:label="@string/app_name"
            android:theme="@style/SharingShortcutsDialogTheme" />


        <activity android:name=".activity.share.SendActivity"
            android:label="@string/app_name"
            android:theme="@style/SharingShortcutsDialogTheme">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="androidx.sharetarget.ChooserTargetServiceCompat" />
        </activity>

        <activity
            android:name=".activity.bubble.BubblesActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true" />

        <activity android:name=".activity.bubble.FlowActivity" />

        <provider
            android:authorities="com.example.utils.provider.documents"
            android:name=".provider.MyDocumentProvider"
            android:grantUriPermissions="true"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENT"
            android:enabled="@bool/atLeastKitKat">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENT_PROVIDER" />
            </intent-filter>
        </provider>


        <!-- FileProvider used to share photos with other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

    

</manifest>